@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-800 dark:bg-dark-bg dark:text-white font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold;
  }
}
